<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem05.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,0},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem06.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,109},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem07.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,0},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem08.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,297},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,406},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,515},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,733},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,842},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,951},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/ConneritemAtlas/Conneritem16.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,150},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>img/ui/box/Conneritem5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{29,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,188}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ConnerItem.png</string>
			<key>realTextureFileName</key>
			<string>ConnerItem.png</string>
			<key>size</key>
			<string>{256,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>