<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chr_man.png</key>
			<dict>
				<key>width</key>
				<integer>549</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>549</integer>
				<key>originalHeight</key>
				<integer>245</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chr_rab.png</key>
			<dict>
				<key>width</key>
				<integer>549</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>549</integer>
				<key>originalHeight</key>
				<integer>245</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>247</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>black_back.png</key>
			<dict>
				<key>width</key>
				<integer>570</integer>
				<key>height</key>
				<integer>253</integer>
				<key>originalWidth</key>
				<integer>570</integer>
				<key>originalHeight</key>
				<integer>253</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>chr_fever1.png</string>
			<key>realTextureFileName</key>
			<string>chr_fever1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>